@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'antd/dist/antd.css';

@import 'antd/dist/antd.dark.css' (prefers-color-scheme: dark);

body {
  overflow: hidden;
}

.h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}